{% extends "layout.html" %}
{% block content %}

<div class="grid-x grid-padding-x align-center-middle" style="margin-bottom:20px;">
    <div class="cell large-8 text-center">
        <span ><i class="fi-alert" style="font-size:128px;"></i></span>
        <h2>Something went wrong!</h2>
        <h4>We'll try to get this issue fixed!</h4>
    </div>
</div>

<div class="grid-x grid-padding-x align-center-middle" >
    <div class="cell large-8 text-center">
        {% for m in get_flashed_messages() %}
            <p>{{m}}</p>
        {% endfor %}
    </div>
</div>

{% endblock content %}