{% extends "layout.html" %}
{% block content %}

<div class="grid-x grid-padding-x align-center-middle">
    <div class="cell large-8">
        <div class="grid-x grid-padding-x align-center-middle text-center">
            <div class="cell auto" style="background:#5aacfe;padding:0px;margin-left:4px;margin-right:4px;">Name</div>
            <div class="cell auto" style="background:#5aacfe;padding:0px;margin-left:4px;margin-right:4px;">Date of Birth</div>
        </div>
    </div>
</div>

<div class="grid-x grid-padding-x align-center-middle" style="margin-top:0px;">
    <div class="cell large-8">
        <div class="grid-x grid-padding-x align-center-middle text-center">
            <div class="cell auto" style="padding:0px;">{{d[1]}} {{d[2]}}</div>
            <div class="cell auto" style="padding:0px;">{{d[3]}}</div>
        </div>
    </div>
</div>

<div class="grid-x grid-padding-x align-center-middle" style="margin-top:20px;">
    <div class="cell large-8">
        <div class="grid-x grid-padding-x align-center-middle text-center">
            <div class="cell auto" style="background:#5aacfe;padding:0px;margin-left:4px;margin-right:4px;">Phone Number</div>
            <div class="cell auto" style="background:#5aacfe;padding:0px;margin-left:4px;margin-right:4px;">Email</div>
        </div>
    </div>
</div>

<div class="grid-x grid-padding-x align-center-middle">
    <div class="cell large-8">
        <div class="grid-x grid-padding-x align-center-middle text-center">
            <div class="cell auto" style="padding:0px;">{{d[5]}}</div>
            <div class="cell auto" style="padding:0px;">{{d[4]}}</div>
        </div>
    </div>
</div>

<!-- Menu bar options -->
<div class="grid-x grid-padding-x align-center-middle" style="margin-top:20px;">
    <div class="cell large-8">
		<div class="top-bar">
  			<div class="top-bar-left">
				<form method="POST">
					<ul class="menu">
						<li class="menu-text">Options</li>
						<li style="margin-right:2px"><button class="button" type="submit" name="edit_button"><i class="fi-page-edit"></i> Edit</button></li>
						<li style="margin-right:2px"><button class="button" type="submit" name="button_delete"><i class="fi-trash"></i> Delete</button></li>
					</ul>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- Top Legend bar -->
<div class="grid-x grid-padding-x align-center-middle text-center" style="margin-top:40px;">
    <div class="cell large-8">
        <div class="grid-x align-center">
            <div class="cell auto" style="background:#5aacfe;margin-left:4px;margin-right:4px;">Name</div>
            <div class="cell auto" style="background:#5aacfe;margin-left:4px;margin-right:4px;">Weekdays</div>
            <div class="cell auto" style="background:#5aacfe;margin-left:4px;margin-right:4px;">Time</div>
			<div class="cell auto" style="background:#5aacfe;margin-left:4px;margin-right:4px;">Period</div>
		</div>
    </div>
</div>

<div class="grid-x grid-padding-x align-center-middle text-center" style="margin-top:20px;">
    <div class="cell large-8">
	    <div class="grid-x grid-padding-x align-center-middle" id="all_classes">
            <div class="cell">
            {% set flag1 = namespace(status=1) %}
            {% set flag2 = namespace(status=1) %}
            {% set flag3 = namespace(status=1) %}

            {% for d in classes %}
                <form method="POST"> <!-- each button is a different form! -->
                <input name="classid" type="hidden" value="{{d[0]}}">
                
                {% if d[13] == 0 %}
                    {% if flag1.status %}
                        <p style="text-align:left;font-weight:bold;">Open</p>
                        {% set flag1.status = 0 %}
                    {% endif %}
                <div class="button primary expanded" style="color:#000;background:#fff;border:1px solid #1779ba;"onclick="javascript:this.parentNode.submit()">
                {% endif %}

                {% if d[13] == 1 %}
                    {% if flag2.status %}
                        <p style="text-align:left;font-weight:bold;">Upcoming</p>
                        {% set flag2.status = 0 %}
                    {% endif %}
                <div class="button primary expanded" style="color:#000;background:#5aacfe;border:1px solid #1779ba;"onclick="javascript:this.parentNode.submit()">
                {% endif %}
                
                {% if d[13] == 2 %}
                    {% if flag3.status %}
                        <p style="text-align:left;font-weight:bold;">Past</p>
                        {% set flag3.status = 0 %}
                    {% endif %}
                <div class="button primary expanded" style="color:#000;background:#e6e6e6;border:1px solid #000;"onclick="javascript:this.parentNode.submit()" id="{{d[1]}}" style="display:none;">
                {% endif %}

                    <div class="grid-x grid-padding-x align-center-middle text-center" style="margin:0px;padding:0px;">
                        <div class="cell medium-3 small-4" style="min-width:64px;word-break:break-all;">{{d[1]}}</div><!-- Name -->
                        <div class="cell medium-3 small-2"><!-- Days of the week -->
                            
                            {% if d[2] %}
                            <span style="font-weight:bold;" class="text">Su&nbsp</span>
                            
                            {% endif %}
                            {% if d[3] %}
                            <span style="font-weight:bold;margin:0;padding:0;">Mo&nbsp</span>
                            
                            {% endif %}
                            {% if d[4] %}
                            <span style="font-weight:bold;margin:0;padding:0;">Tu&nbsp</span>
                            
                            {% endif %}
                            {% if d[5] %}
                            <span style="font-weight:bold;margin:0;padding:0;">We&nbsp</span>
                            
                            {% endif %}
                            {% if d[6] %}
                            <span style="font-weight:bold;margin:0;padding:0;">Th&nbsp</span>
                            
                            {% endif %}
                            {% if d[7] %}
                            <span style="font-weight:bold;margin:0;padding:0;">Fr&nbsp</span>
                            
                            {% endif %}
                            {% if d[8] %}
                            <span style="font-weight:bold;margin:0;padding:0;">Sa</span>
                            {% endif %}
                        </div>
                        <div class="cell medium-3 small-3" style="min-width:64px;">{{d[11]}}<br>{{d[12]}}</div><!-- Time -->
                        <div class="cell medium-3 small-3" style="min-width:64px;">{{d[9]}}<br>{{d[10]}}</div><!-- Dates -->
                    </div>
                </div>
                </form>
	        {% endfor %}
	    </div>
	</div>
	</div>
</div>



{% endblock content %}